body {
  background-color: gray;
}

.square {
  flex-grow: 1;
  outline: 2px inset;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
  margin: auto;
  outline: solid;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.header {
  display: flex;
  margin: 10px;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  font-size: 18px;
  margin: auto;
  display: inline-block;
}